/*** BREADCRUMBS ***/
.breadcrumbs

a.breadcrumbs__link
	text-decoration: none;
	color: $color.text.light

a.breadcrumbs__link:hover
	color: $color.link.main-hover
	text-decoration: underline

.breadcrumbs__span
	color: $color.text.main
	cursor: default
