/*** BREADCRUMBS ***/
.breadcrumbs {
	font-size: .9em;
}
a.breadcrumbs__link {
	text-decoration: none;
	color: $color.text.light;
}
a.breadcrumbs__link:hover {
	text-decoration: underline;
	color: $color.link.main-hover;
}
.breadcrumbs__span {
	color: $color.text.dark;
	cursor: default;
}