/*  SST Common styles */
body {
  font-family : $font-family
  font-size : $font.size.text
  color : $color.text.main
}
.wrapper {
	overflow: hidden;
}
.section {
}
.center_block {
	position: relative;
	margin: 0 auto;
}
.clearfix:after {
	display: block;
	content: ' ';
	clear: both;
	width: 0;
	height: 0;
	visibility: hidden;
}