.footer__bot
	background: $color.infoline.bot.bg
	color: $color.infoline.bot.text
	
.footer__bot a
	$color.infoline.bot.link

.footer__bot a:hover
	$color.infoline.bot.link-hover

.footer__bot > div
	padding: $rythm*2 $rythm*4