/*** GRID ***/
.col 
  display: inline-block
  vertical-align: top
  position: relative
  box-sizing: border-box
  width: 100%
  
/*@media all and (max-width: 479px) */

@media all and (min-width: 480px) and (max-width: 719px) 
  .grid > .col--480_50 
    width: 50%
  
  .grid > .col--480_hidden 
    display: none
  

@media all and (min-width: 720px) and (max-width: 959px) 
  .grid > .col--720_33 
    width: 33.33%
  
  .grid > .col--720_50 
    width: 50%
  
  .grid > .col--720_66 
    width: 66.66%
  
  .grid > .col--720_hidden 
    display: none
  

@media all and (min-width: 960px) and (max-width: 1199px) 
  .grid > .col--960_25 
    width: 25%
  
  .grid > .col--960_33 
    width: 33.33%
  
  .grid > .col--960_50 
    width: 50%
  
  .grid > .col--960_66 
    width: 66.66%
  
  .grid > .col--960_75 
    width: 75%
  
  .grid > .col--960_80 
    width: 80%
  
  .grid > .col--960_hidden 
    display: none
  

@media all and (min-width: 1200px) and (max-width: 1599px) 
  .grid > .col--1200_20 
    width: 20%
  
  .grid > .col--1200_25 
    width: 25%
  
  .grid > .col--1200_33 
    width: 33.33%
  
  .grid > .col--1200_40 
    width: 40%
  
  .grid > .col--1200_50 
    width: 50%
  
  .grid > .col--1200_60 
    width: 60%
  
  .grid > .col--1200_66 
    width: 66.66%
  
  .grid > .col--1200_75 
    width: 75%
  
  .grid > .col--1200_80 
    width: 80%
  
  .grid > .col--1200_hidden 
    display: none
  

@media all and (min-width: 1600px) 
  .grid > .col--1600_16 
    width: 16.66%
  
  .grid > .col--1600_20 
    width: 20%
  
  .grid > .col--1600_25 
    width: 25%
  
  .grid > .col--1600_33 
    width: 33.33%
  
  .grid > .col--1600_40 
    width: 40%
  
  .grid > .col--1600_50 
    width: 50%
  
  .grid > .col--1600_60 
    width: 60%
  
  .grid > .col--1600_66 
    width: 66.66%
  
  .grid > .col--1600_75 
    width: 75%
  
  .grid > .col--1600_80 
    width: 80%
  
  .grid > .col--1600_83 
    width: 83.33%
  
  .grid > .col--1600_hidden 
    display: none