/*** GRID ***/
.col 
  display: inline-block
  vertical-align: top
  position: relative
  box-sizing: border-box
  width: 100%
  
/*@media all and (max-width: 479px) */

@media all and (max-width: 480px) 
  .grid > .col--240-hidden 
    display: none

@media all and (min-width: 480px) and (max-width: 719px) 
  .grid > .col--480-50 
    width: 50%
  
  .grid > .col--480-hidden 
    display: none
  

@media all and (min-width: 720px) and (max-width: 959px) 
  .grid > .col--720-33 
    width: 33.33%
  
  .grid > .col--720-50 
    width: 50%
  
  .grid > .col--720-66 
    width: 66.66%
  
  .grid > .col--720-hidden 
    display: none
  

@media all and (min-width: 960px) and (max-width: 1199px) 
  .grid > .col--960-25 
    width: 25%
  
  .grid > .col--960-33 
    width: 33.33%
  
  .grid > .col--960-50 
    width: 50%
  
  .grid > .col--960-66 
    width: 66.66%
  
  .grid > .col--960-75 
    width: 75%
  
  .grid > .col--960-80 
    width: 80%
  
  .grid > .col--960-hidden 
    display: none
  

@media all and (min-width: 1200px) and (max-width: 1599px) 
  .grid > .col--1200-20 
    width: 20%
  
  .grid > .col--1200-25 
    width: 25%
  
  .grid > .col--1200-33 
    width: 33.33%
  
  .grid > .col--1200-40 
    width: 40%
  
  .grid > .col--1200-50 
    width: 50%
  
  .grid > .col--1200-60 
    width: 60%
  
  .grid > .col--1200-66 
    width: 66.66%
  
  .grid > .col--1200-75 
    width: 75%
  
  .grid > .col--1200-80 
    width: 80%
  
  .grid > .col--1200-hidden 
    display: none
  

@media all and (min-width: 1600px) 
  .grid > .col--1600-16 
    width: 16.66%
  
  .grid > .col--1600-20 
    width: 20%
  
  .grid > .col--1600-25 
    width: 25%
  
  .grid > .col--1600-33 
    width: 33.33%
  
  .grid > .col--1600-40 
    width: 40%
  
  .grid > .col--1600-50 
    width: 50%
  
  .grid > .col--1600-60 
    width: 60%
  
  .grid > .col--1600-66 
    width: 66.66%
  
  .grid > .col--1600-75 
    width: 75%
  
  .grid > .col--1600-80 
    width: 80%
  
  .grid > .col--1600-83 
    width: 83.33%
  
  .grid > .col--1600-hidden 
    display: none