.header__top
	background: $color.infoline.top.bg
	color: $color.infoline.top.text
	
.header__top a
	color: $color.infoline.top.link
	
.header__top a:hover
	color: $color.infoline.top.link-hover

.header__top > div
	padding: $rythm*2 $rythm*4