.align
  &--center
    text-align: center
  &--left
    text-align: left
  &--right
    text-align: right
  &--justify
    text-align: justify

.float
  &--left
    float: left
  &--right
    float: right
  &--none
    float: none

.clearfix
  &:after
  &:before
    content: "."
    display: table
    height: 0
    clear: both
    visibility: hidden

.hidden
  display: none

/* Paddings */
.padding
	padding: $indent
	&--half
		padding: ($indent/2)
	&--double
		padding: ($indent*2)
		
.margin
	margin: $indent
	&--half
		margin: ($indent/2)
	&--double
		margin: ($indent*2)

.margin--neg
	margin-left: -($indent)
	margin-right: -($indent)

for i in range(0, 10, 1)
  .padding--{i*$rythm}
    padding: ($rythm * i)
