.menu
.menu__item
	inline-block()
.menu__item > a


// HORIZONTAL
.menu--horizontal
	padding: 0
	margin: 0
.menu--horizontal .menu__item > a
	display: block;
	box-sizing: border-box
	line-height: $rythm.quadro
	padding: $rythm.single $indent.main
	text-decoration: none
	
// Header Menu
.menu--header
	text-align: left
.menu--header .menu__item > a
	padding-bottom: $rythm.single - 2px
	border-bottom: 2px solid rgba(255,255,255,0);
.menu--header .menu__item:hover > a
.menu--header .menu__item.active > a
	border-bottom-color: rgba(255,255,255,1);

// Header Pop-Up Menu
.header__popup-menu
	inline-block()
	height: $rythm.hexa
	line-height: $rythm.hexa
	padding: 0 $indent.main
	
.header__popup-menu a
	font-size: $rythm.quadro
	cursor: pointer;
	color: #fff;