.menu

.menu--horiz
	margin 0
	padding 0

.menu__item
	inline-block()
	
.menu--horiz ul a
	display: block;
	box-sizing: border-box
	padding: 0 $indent.main
	line-height: $rythm.hexa
	text-decoration: none
	text-transform: uppercase;
	
// Header Menu
.header__menu ul
	inline-block()
.header__menu ul a
	border-bottom: 2px solid rgba(255,255,255,0);
.header__menu ul li:hover > a,
.header__menu ul li.active > a
	border-bottom-color: rgba(255,255,255,1);
	
// Header Pop-Up Menu
.header__popup-menu
	inline-block()
	height: $rythm.hexa
	line-height: $rythm.hexa
	padding: 0 $indent.main
	
.header__popup-menu a
	font-size: $rythm.quadro
	cursor: pointer;
	color: #fff;