/*
 * Make html take up the entire screen
 * Then set touch-action to avoid touch delay on mobile IE
 *
 * Make body take up the entire screen
 * Remove body margin so layout containers don't cause extra overflow.
 */
html, body
	position: relative
	min-height: 100%
	width: 100%
	-ms-touch-action: manipulation
	touch-action: manipulation
	
	margin: 0
	padding: 0
	display: block
	
header, main, nav, section, article, aside, footer, sgroup, figcaption, figure
	display: block;

img
	border: none
	display: inline-block
	vertical-align: bottom

b, strong
	font-weight: 700

address
	font-style: normal
	font-weight: normal
	
input, textarea, select, option
	margin: 0
	outline: 0
	box-shadow: none
	vertical-align: top
