
// Generate shadow classes .shadow-2px ... .shadow-10px
for i in range(2px, 10px, 1)
  .shadow--{i}
    box-shadow: 0 i i+(i - i/2) 0 rgba(0,0,0,.14), 0 (4 - i/2) (-4 + i*3) round(-3 + 2/i) rgba(0,0,0,.2), 0 (i/2) 5px 0-(round(i/2 - 1.5)) rgba(0,0,0,.12)


