
/***********************************************************************/
/*                               RYTHM                                 */
/***********************************************************************/
// отступы (влияют и на padding и на margin)
$rythm = 5px

$indent = {
  main : $rythm*4, // основной (20px)
  alter : $rythm*2 // альтернативный (10px)
}


/***********************************************************************/
/*                              FONTS                                  */
/***********************************************************************/
$font = {}

$font.family = {}
$font.family.text = Roboto, Arial, sans-serif
$font.family.title = $font.family.text

$font.size = {}
$font.size.text = 14px


/***********************************************************************/
/*                              COLORS                                 */
/***********************************************************************/
/*------------------------- Text colors -------------------------------*/
$color = {  // Text colors
  text : {
    main : #444,     // main text
    light : #888,    // light text
    dark : #000,     // dark text
  }
}
/*------------------------- Header colors -----------------------------*/
$color = merge($color,{
  header : {
    main : $color.text.main,    // Main header color
    light : $color.text.light,  // Light header color
    dark : $color.text.dark,    // Dark header color
  }
});
/*------------------------- Background colors -------------------------*/
$color = merge($color,{
  bg : {
    main : '',// основной фон
    light : '',// светлый фон
    dark : '',// темный фон
    accent : #ff4081
  }
});
/*------------------------- Link colors -------------------------------*/
$color = merge($color,{
  link : {
    main : blue,            // Normal link color
    main-hover : violet,      // Normal hovered link color
    light : '',           // Light link color
    light-hover : '',     // Light hovered link hover
    dark : '',           // Light link color
    dark-hover : '',     // Light hovered link hover
    accent : #ff4081,     // Accented link color
    accent-hover : '',    // Accented hovered link hover
  }
});


/***********************************************************************/
/*                              BORDERS                                */
/***********************************************************************/
$border = {
  style : {
    main : solid,  // основной стиль бордера
    alter : dotted // альтернативный стиль бордера
  },
  color : {
    main : '',  // обводка
    light : '', // обводка светлая
    dark : ''   // обводка темная
  },
  width : {
    main : 1px, // основной
    alter : 2px // альтернативный
  }
}